{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    // import 시 파일 확장자 표기 x 처리
    "import/extensions": [ "off" ],
    // jsx 파일 확장자 규칙 (js, jsx, ts, tsx)
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    // suppress errors for missing 'import React' in files
    "react/react-in-jsx-scope": "off"
  }
}
